{% extends "header.html" %}

{% block content %}
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Basics" aria-controls="Basics" role="tab" data-toggle="tab">Basics</a></li>
    <li role="presentation"><a href="#webd" aria-controls="webd" role="tab" data-toggle="tab">webd</a></li>
    <li role="presentation"><a href="#dan" aria-controls="dan" role="tab" data-toggle="tab">dan</a></li>
    <li role="presentation"><a href="#pyth" aria-controls="pyth" role="tab" data-toggle="tab">pyth</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="Basics">
      <ul>
        {% for t in TOPIC_DICT["Basic"] %}
          <li><a href="{{ t[1] }}">{{ t[0] }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="webd">webd</div>
    <div role="tabpanel" class="tab-pane fade" id="dan">dan</div>
    <div role="tabpanel" class="tab-pane fade" id="pyth">pyth</div>
  </div>

</div>
{% endblock %}

