

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


    <header>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img id="brandimage" src="{{ url_for('static',filename='download.png') }}" alt=""></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="bn" class="btn btn-primary"><span class="glyphicon glyphicon-off"></span> Start Learning </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Support</a></li>
        <li><a data-toggle="modal" data-target="#loginmodal" href="#Login">Login</a></li>

          <div class="modal fade" area-labelledby="examplemodallabel" aria-hidden="true" id="loginmodal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="examplemodallabel">Login</h4>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                        <form action="{{ url_for('verrec') }}" method="POST">
                            <input id="usr" type="text" class="form-control" placeholder="Username" name="username">
                            <input type="password" class="form-control" placeholder="Password" name="password">
                            <input type="submit" class="btn btn-primary" value="Login">
                        </form>
                    </div>
                  </div>
                  <div class="modal-footer">

                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->





        <li><a href="#" data-toggle="modal" data-target="#signup">Signup</a></li>


            <!-- Modal -->
            <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Register</h4>
                  </div>
                  <div class="modal-body">
                      <form action="{{ url_for('addrec') }}" method="POST">
                          <label for="username">Username</label>
                          <input class="form-control" type="text" id="username" name="Username" >
                          <label for="email">Email ID</label>
                          <input class="form-control" type="email" id="email" name="email" >
                          <label for="password">Password</label>
                          <input class="form-control" type="password" id="password" name="password" >
                          <label for="reppassword">Password</label>
                          <input class="form-control" type="password" id="reppassword" name="reppassword" >
                          <input type="checkbox" required>
                          <input type="submit" class="btn btn-default" value="SIGNUP">
                      </form>
                  </div>
                  <div class="modal-footer">

                    <!--<button type="button" class="btn btn-primary">Signup</button>-->
                  </div>
                </div>
              </div>
            </div>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
<body>
    <div class="container" style="min-height:100%">
        <a href="/dashboard/">
            <video autoplay="autoplay" muted="muted" poster="{{ url_for('static',filename='download.png') }}" style="width:100%;max-height:80%">
            <source src="{{ url_for('static',filename='python-programming-tutorials-main.mp4') }}" type="video/mp4">
            </video>

        </a>
    </div>




<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>